<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Perspective.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E4AABFAD1D206353001A5969</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4AABFC31D206354001A5969</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4AABFCE1D206354001A5969</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
